<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Detailed information</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
</div>

<div class="modal-body">
    <br>
    <div class="row-flights" *ngFor="let f of flight">
        <div> 
            <b> {{ f.Airline }} </b><br> <small> {{ f.TimeOfDeparture }} {{ f.PlaceOfDeparture }} - {{ f. TimeOfArrival}} {{ f.PlaceOfArrival }} </small>
            <br><br>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
      Close
    </button>
</div>