<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel"> Book a ticket </h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
    <form class="card-form">
      <div class="input">
        <label class="input-label"><b>Economy class:</b> {{flight.EconomyClassPrice}}$ win {{flight.EconomyClassPoints}} points!</label>
      </div>
      <div class="input">
        <label class="input-label"><b>Business class:</b> {{flight.BusinessClassPrice}}$ win {{flight.BusinessClassPoints}} points!</label>
      </div>
      <div class="input" *ngIf="flight.FirstClassPrice != 0">
        <label class="input-label"><b>First class:</b> {{flight.FirstClassPrice}}$ win {{flight.FirstClassPoints}} points!</label>
      </div>
      <div class="input">
        <input type="number" class="input-field" id="points" name="password1"/>
        <label class="input-label">You have <b>{{user.Points}}</b> points that you can use. <i>(1 point = 2% discount)</i></label>
      </div>
      <div class="input">
        <button type="button" class="btn btn-success" (click)="useDiscount()">
          Use points for discount!
        </button>
      </div>
      <div class="input">
        <label class="input-label">Economy class price after discount: {{discountPriceEconomy}}$</label>
      </div>
      <div class="input">
        <label class="input-label">Business class price after discount: {{discountPriceBusiness}}$</label>
      </div>
      <div class="input" *ngIf="flight.FirstClassPrice != 0">
        <label class="input-label">First class price after discount: {{discountPriceFirst}}$</label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="newFirstClassTicket()" *ngIf="flight.FirstClassRemainingSeats != 0">
      BUY FIRST
    </button>
    <button type="submit" class="btn btn-info" (click)="newBusinessClassTicket()" *ngIf="flight.BusinessClassRemainingSeats != 0">
      BUY BUSINESS
    </button>
    <button type="submit" class="btn btn-secondary" (click)="newEconomyClassTicket()" *ngIf="flight.EconomyClassRemainingSeats != 0">
      BUY ECONOMY
    </button>
  </div>