<!-- <div class="search-container">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    fill="currentColor"
    class="bi bi-search"
    viewBox="0 0 16 16"
  >
    <path
      d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
    />
  </svg>
  <input
    type="text"
    name="search"
    [(ngModel)]="term"
    class="search-input"
    placeholder="Search user..."
  />
</div> -->

<div class="container">
    <table class="styled-table">
      <thead>
        <tr>
          <th>Username</th>
          <th>Email address</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Role</th>
          <th>Account</th>
          <th>Reports</th>
          <th>Points</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr id="table" *ngFor="let user of users | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
          <td>{{ user.Username }}</td>
          <td>{{ user.EmailAddress }}</td>
          <td>{{ user.FirstName }}</td>
          <td>{{ user.LastName }}</td>
          <td>{{ user.Role }}</td>
          <td>
            <div *ngIf="user.Deactivated == true" style="color: red;" >Deactivated</div>
            <div *ngIf="user.Deactivated == false" style="color: green;">Activated</div>
          </td>
          <td>
            <div *ngIf="user.Role == 'USER'"> {{ user.Reports }}</div>
          </td>
          <td>
            <div *ngIf="user.Role == 'USER'"> {{ user.Points }}</div>
          </td>
          <td>
            <div *ngIf="user.Role == 'USER'">
              <button type="button" class="btn btn-danger" *ngIf="user.Banned == true" (click)="unbanUser(user.Id)">
                  UNBAN
              </button>
              <button type="button" class="btn btn-danger" *ngIf="user.Banned == false" (click)="banUser(user.Id)">
                BAN
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <ngb-pagination [pageSize] = "25" [collectionSize]="100" [(page)]="page" aria-label="Default pagination" class="ngb-pagination"></ngb-pagination>
  </div>