<nav class="navbar navbar-expand-lg navbar-dark bg-light">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item" *ngIf="currentRole === 'USER'">
                <a class="nav-link" href="base/guest/search-flights">BOOK A FLIGHT</a>
            </li>
            <li class="nav-item" *ngIf="currentRole === 'USER'">
              <a class="nav-link" href="base/user/my-tickets">MY TICKETS</a>
            </li>
            <li class="nav-item" *ngIf="currentRole === 'USER'">
              <a class="nav-link" href="base/user/history">HISTORY</a>
            </li>
            <li class="nav-item" *ngIf="currentRole === 'ADMIN'">
              <button class="nav-link" type="submit" (click)="navigateAllFlights()">ALL FLIGHTS</button>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="base/admin/all-airlines">ALL AIRLINES</a>
            </li>
            <li class="nav-item" *ngIf="currentRole === 'ADMIN'">
              <a class="nav-link" href="base/admin/all-users">ALL USERS</a>
            </li>
            <li class="nav-item" *ngIf="currentRole === 'ADMIN'" style="margin-left: 740px;">
              <a class="nav-link" href="base/my-profile">MY PROFILE</a>
            </li>
            <li class="nav-item" *ngIf="currentRole === 'USER'" style="margin-left: 720px;">
              <a class="nav-link" href="base/my-profile">MY PROFILE</a>
            </li>
        </ul>
        <form class="d-flex">
          <button class="btn" style="font-family: 'Bebas Neue'; font-size: 18px;" type="submit" 
          *ngIf="currentRole === undefined" (click)="signIn()">SIGN IN</button>
          <button class="btn" style="font-family: 'Bebas Neue'; font-size: 18px;" type="submit" 
          *ngIf="currentRole !== undefined" (click)="logOut()">LOG OUT</button>
        </form>
      </div>
    </div>
  </nav>