<div class="search-container">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    fill="currentColor"
    class="bi bi-search"
    viewBox="0 0 16 16"
  >
    <path
      d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
    />
  </svg>
  <input
    type="text"
    name="search"
    [(ngModel)]="term"
    class="search-input"
    placeholder="Search user..."
  />
</div>

<div class="container-tickets">
  <div class="row-tickets" *ngFor="let ticket of tickets | filter: term">
    <div class="col-sm-3">

      <div class="box">
          <ul class="left">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
          
          <ul class="right">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <div class="ticket">
            <span class="airline">{{ticket.AirlineName}}</span>
            <span class="airline airlineslip">{{ticket.TravelClass}} CLASS</span>
            <span class="boarding">
              <button type="submit" class="btn btn-danger" style="height: 26px; font-size: 9px;">CANCEL</button>
            </span>
            <div class="content">
              <span class="jfk">{{ticket.PlaceOfDeparture}}</span>
              <!-- <span class="plane"><svg clip-rule="evenodd" fill-rule="evenodd" height="60" width="60" image-rendering="optimizeQuality" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg"><g stroke="#222"><line fill="none" stroke-linecap="round" stroke-width="30" x1="300" x2="55" y1="390" y2="390"/><path d="M98 325c-9 10 10 16 25 6l311-156c24-17 35-25 42-50 2-15-46-11-78-7-15 1-34 10-42 16l-56 35 1-1-169-31c-14-3-24-5-37-1-10 5-18 10-27 18l122 72c4 3 5 7 1 9l-44 27-75-15c-10-2-18-4-28 0-8 4-14 9-20 15l74 63z" fill="#222" stroke-linejoin="round" stroke-width="10"/></g></svg></span> -->
              <span class="sfo">{{ticket.PlaceOfArrival}}</span>
              
              <!-- <span class="jfk jfkslip">JFK</span> -->
              <span class="plane planeslip"><svg clip-rule="evenodd" fill-rule="evenodd" height="50" width="50" image-rendering="optimizeQuality" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg"><g stroke="#222"><line fill="none" stroke-linecap="round" stroke-width="30" x1="300" x2="55" y1="390" y2="390"/><path d="M98 325c-9 10 10 16 25 6l311-156c24-17 35-25 42-50 2-15-46-11-78-7-15 1-34 10-42 16l-56 35 1-1-169-31c-14-3-24-5-37-1-10 5-18 10-27 18l122 72c4 3 5 7 1 9l-44 27-75-15c-10-2-18-4-28 0-8 4-14 9-20 15l74 63z" fill="#222" stroke-linejoin="round" stroke-width="10"/></g></svg></span>
              <!-- <span class="sfo sfoslip">SFO</span> -->
              <div class="sub-content">
                <span class="watermark">{{ticket.AirlineName}}</span>
                <span class="name">PASSENGER NAME<br><span>{{lastName}} {{firstName}}</span></span>
                <span class="flight">FLIGHT N&deg;<br><span>X3-65C3</span></span>
                <span class="gate">GATE<br><span>{{ticket.GateNumber}}</span></span>
                <span class="seat">SEAT<br><span>{{ticket.SeatNumber}}</span></span>
                <span class="boardingtime">BOARDING TIME<br><span>{{ticket.TimeOfBoarding}} {{ticket.DateOfDeparture}}</span></span>
                    
                <span class="flight flightslip">FLIGHT N&deg;<br><span>{{ticket.FlightNumber}}</span></span>
                  <span class="seat seatslip">SEAT<br><span>{{ticket.SeatNumber}}</span></span>
                <span class="name nameslip">PASSENGER NAME<br><span>{{lastName}} {{firstName}}</span></span>
              </div>
            </div>
            <div class="barcode"></div>
            <div class="barcode slip"></div>
          </div>
        </div>

    </div>
  </div>
</div>